<template lang="pug">
  md-card.md-layout-item.md-size-70.md-small-size-100.md-elevation-5.review-list-item(:id='"review"+item.id')
    md-card-area(md-inset='')
      md-card-header
        md-avatar(:style='{background:randomColor(true)}')
          img(:src='item.customer.imageUrl', alt='Avatar', @error="$event.target.style.display='none';", v-if='item.customer.imageUrl')
        .md-title
          router-link.pick-link(v-if='item.customer && (item.customer.firstName || item.customer.lastName)', :to='linkToCustomer') {{item.customer.firstName}} {{item.customer.lastName}}
          span(v-else) Unknown
        .md-subhead(v-if='item.createdAt') {{item.createdAt}}
        .md-subhead(v-else) Somewhen
      md-card-content.review-content
          | {{item.text}}


    md-card-expand
      md-card-actions(md-alignment='space-between')
        div
          md-button.md-icon-button.pick-link(v-if="item.imageUrl", @click="showFullPhoto=true")
            md-icon image
            md-tooltip(md-direction='right') Show photo


        md-card-expand-trigger
          md-button.md-icon-button
            md-icon keyboard_arrow_down
            md-tooltip(md-direction='left') Show menu
        
      md-card-expand-content
        md-card-content.review-details
          md-table
            md-table-toolbar
              h1.md-title Menu
            md-table-row(v-if='item.orderMenu.name')
              md-table-cell Name
              md-table-cell
                router-link.pick-link(:to='orderMenuLink') {{item.orderMenu.name}}
            md-table-row(v-if='item.orderMenu.quantity')
              md-table-cell Quantity
              md-table-cell {{item.orderMenu.quantity}}
            md-table-row(v-if='item.orderMenu.comment')
              md-table-cell Comment
              md-table-cell {{item.orderMenu.comment}}

          md-table(v-if='item.orderMenu.options && item.orderMenu.options.length>0')
            md-table-toolbar
              h1.md-title Options
            md-table-row
              md-table-head Name
              md-table-head Value
            md-table-row(v-for='option in item.orderMenu.options', :key='option.id')
              md-table-cell {{option.name}}
              md-table-cell {{option.menuOptionValue}}
    image-dialog(v-model="showFullPhoto")
</template>
<script>
  import ImageDialog from './ReviewPhotoDialog.vue'
  import randomColor from "../../utils/scripts/materialColor.js";
  export default {
    name: "review-list-item-component",
    components:{ImageDialog},
    props: ["item"],
    data: () => ({
      visibleLength: 3,
      showImage:false,
      showFullPhoto: false
    }),
    methods: {
      randomColor
    },
    computed: {
      linkToCustomer(){
        return `/customers/${this.item.customer.id}`;
      },
      orderMenuLink(){
        return `/menu/${this.item.orderMenu.menuId}`;
      },
    }
  };
</script>
<style lang="sass" scoped>
@import "../../assets/style/color.sass"
.review-list-item
  background: $bg-lightest
  .customers-photo
    width: auto
    overflow: hidden
    -webkit-transition: max-height 0.3s
    -moz-transition: max-height 0.3s
    -ms-transition: max-height 0.3s
    -o-transition: max-height 0.3s
    transition: max-height 0.3s
    min-height: 100px
    max-height: 1980px
    &.limited
      max-height: 200px
  &.md-card 
    margin: 10px
    display: inline-block
    vertical-align: top
    border-radius: 24px
    
  .review-content
    padding-bottom: 0
  tbody 
    .md-table-row
      td
        border-color: #c9c9c9
</style>
