<template lang="pug">
  div
    md-dialog(:md-active.sync='showDialog', @md-clicked-outside="close")
      div.img-wrapper
        img(src='../../assets/images/bigimg.jpg', @click="close")

</template>

<script>
  export default {
    name: 'DialogCustom',
    data: () => ({
    }),
    props:["value"],
    methods:{
      close(){
        this.$emit('input', false)
      }
    },
    computed:{
      showDialog(){
        return this.value;
      }
    }
  }
</script>

<style lang="sass" scoped>
  @import "../../assets/style/color.sass"
  .md-dialog
    .img-wrapper
      img
        height: auto
        width: auto
    background: $bg-lightest


</style>