<template lang="pug">
  div
    reviews-list-component
</template>
<script>
  import ReviewsListComponent from "./ReviewsList.vue";
  import titleMixin from "../../utils/vue/mixin/title";

  export default {
    name: "reviews-component",
    components: {ReviewsListComponent},
    data: () => ({}),
    mixins: [titleMixin],
    created(){
      this.appTitle = 'Reviews'
    }
  };
</script>
<style lang="sass" scoped>
</style>