<template lang="pug">
  .md-triple-line.card-expansion.md-layout.md-alignment-center-center
    review-list-item-component(v-for='item in items', :item='item', :key='item.id')
    md-list.md-layout-item.md-size-100.md-alignment-center-center
      md-list-item.md-layout-item.md-small-size-100(md-with-hover='', @click='')
        .md-list-item-text.txt-center
          span Load more ...
          span Matched locations 100
          p Total amount of locations 1000
</template>
<script>
  import ReviewListItemComponent from "./ReviewListItem.vue";

  export default {
    name: "reviews-list-component",
    data: () => ({
      items: [
        {
          id: 1,
          quality: 1,
          text: "1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucibus, cursus sed ligula. Suspendisse tellus enim, interdum malesuada lacinia et, placerat eget erat. Duis volutpat mauris at turpis blandit sagittis. Quisque vel imperdiet ante. Aenean et tincidunt massa, vel vulputate lectus. Phasellus posuere porttitor semper. Nunc pellentesque urna eu ex euismod, in finibus nibh dictum. Morbi ac dolor interdum, maximus massa vitae, fermentum ante. Vestibulum malesuada libero tellus, id pharetra ex tristique et. Pellentesque posuere sapien nisi, sit amet pretium mauris auctor nec.",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName', imageUrl:'https://picsum.photos/200/300/?random'},
          orderMenu: {
            id: 1, menuId: 1, name: 'Some menu', quantity: '1', price: 123.1, subtotal: 123.1,
            comment: '1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, tur',
            options: [
              {id: 1, name: 'Some options', price: 123.2, menuOptionValueId: 1, menuOptionValue: 'asd'},
              {id: 2, name: 'Some options', price: 123.2, menuOptionValueId: 1, menuOptionValue: 'asd'},
              {id: 3, name: 'Some options', price: 123.2, menuOptionValueId: 1, menuOptionValue: 'asd'},
            ]
          },
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 2,
          quality: 2,
          text: "2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condi",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName', imageUrl:'https://picsum.photos/200/300/?random'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 3,
          quality: 3,
          text: "3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis ",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName', imageUrl:'https://picsum.photos/200/300/?random'},
          orderMenu: {},

        },
        {
          id: 4,
          quality: 4,
          text: "4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam si",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 5,
          quality: 5,
          text: "5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit ame",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName', imageUrl:'https://picsum.photos/200/300/?random'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 6,
          quality: 6,
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucib",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName', imageUrl:'https://picsum.photos/200/300/?random'},
          orderMenu: {},

        },
        {
          id: 7,
          quality: 7,
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucibus, cursus sed ligula. Suspendisse tellus enim, interdum malesuada lacinia et, placerat eget erat. Duis volutpat mauris at tu",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 8,
          quality: 8,
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucibus, cursus sed ligula. Suspendisse tellus enim, interdum malesuada lacinia et, placerat eget erat. Duis volutpat mauris at turpis blandit sagittis. Quisque vel imperdiet ante. Aenean et tincidunt massa, vel vulputate lectus. Phasellus posuere portt",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName'},
          orderMenu: {},

        },
        {
          id: 9,
          quality: 9,
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucibus, cursus sed ligula. Suspendisse tellus enim, interdum malesuada lacinia et, placerat eget erat. Duis volutpat mauris at turpis blandit sagittis. Quisque vel imperdiet ante. Aenean et tincidunt massa, vel vulputate lectus. Phasellus posuere porttitor semper. Nunc pellentesque urna eu ex euismod, in finibus nibh dictum. Morbi ac dolor interdum, maximus massa vi",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
        {
          id: 10,
          quality: 10,
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum molestie semper. Nulla sodales, turpis vitae gravida ultrices, arcu dui fringilla sapien, id mollis nulla odio sed turpis. Maecenas vel lectus egestas, feugiat dolor et, dapibus lorem. Donec magna ex, aliquam sit amet sollicitudin vitae, sodales nec est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices lectus sit amet aliquam. Quisque auctor justo eu condimentum finibus. Etiam porta dignissim dapibus. Integer ex orci, auctor a dapibus faucibus, cursus sed ligula. Suspendisse tellus enim, interdum malesuada lacinia et, placerat eget erat. Duis volutpat mauris at turpis blandit sagittis. Quisque vel imperdiet ante. Aenean et tincidunt massa, vel vulputate lectus. Phasellus posuere porttitor semper. Nunc pellentesque urna eu ex euismod, in finibus nibh dictum. Morbi ac dolor interdum, maximus massa vitae, fermentum ante. Vestibulum malesuada libero tellus, id pharetra ex tristique et. Pellentesque posuere sapien nisi, sit amet pretium mauris auctor nec.",
          createdAt: '10 20 30 40 50',
          status: true,
          customer: {id: 1, firstName: 'FirstName', lastName: 'LastName'},
          orderMenu: {},
          imageUrl: "https://picsum.photos/200/300/?random"
        },
      ]
    }),
    components: {ReviewListItemComponent},

  };
</script>
<style lang="sass" scoped>
  .txt-center
    text-align: center
</style>
