@import './color.sass'
$scrollbar-size: 8px
$ie-foreground-color: #c0c0c0
$border-color: #000000
$foreground-color: $bg-color
$background-color: $bg-color

@mixin scrollbar-props($root, $ex, $prefixes: (webkit moz))
  @each $prefix in $prefixes
    .#{$root}::-#{$prefix}-#{$ex}
      @content

@mixin scrollbar($root)
  @include scrollbar-props($root, scrollbar, webkit moz)
    width: $scrollbar-size
    height: $scrollbar-size
    border-radius: $scrollbar-size

  @include scrollbar-props($root, scrollbar-thumb, webkit moz)
    border-radius: $scrollbar-size
    border: 1px solid $border-color
    background: $foreground-color
  @include scrollbar-props($root, scrollbar-button, webkit moz)
    display: none

  @include scrollbar-props($root, scrollbar-track, webkit moz)
    background: $background-color
    border-radius: $scrollbar-size

  .#{$root}
    scrollbar-face-color: $ie-foreground-color
    scrollbar-track-color: $background-color
    
      