<template lang="pug">
  md-list-item.md-layout-item.md-small-size-100.md-elevation-5.md-size-70.pick-category-item(md-with-hover='', :to='link')
    md-avatar(:style="{background: randomColor(true)}")
      img(:src='item.imageLink', v-if='item.imageLink', alt='People', @error='$event.target.style.display="none";')
    .md-list-item-text
      span {{item.name}}
      p {{item.description}}
</template>
<script>
  import randomColor from "../../utils/scripts/materialColor.js";
  export default {
    name: "pick-category-list-item-component",
    props: ["item"],
    methods: {
      onImageLoadError(event) {
        event.target.src = "/src/assets/noimage.png";
      },
      randomColor
    },
    computed: {
      link(){
        return `/category/${this.item.id}`
      },

    }
  };
</script>
<style lang="sass">
  @import "../../assets/style/color.sass"
  .pick-category-item
    border-radius: 22px
    .md-list-item-container
      .md-list-item-content
        &.md-ripple
          padding: 0 0
    margin-bottom: 5px
    margin-top: 5px

    .md-avatar
      margin: 0
      width: 88px
      height: 88px
      background: rgb(255, 214, 0)
      border-radius: 22px 0 0 22px
      img
        width: 100%
        height: auto
    &:nth-child(even)
      background: $bg-odd-color
    .md-badge:last-child
      color: #000000

</style>
