<template lang="pug">
  div
    pick-categories-list-component
    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.add-new-category(to='/categories/new')
      md-icon add
</template>
<script>
  import PickCategoriesListComponent from "./CategoriesList.vue";
  import titleMixin from "../../utils/vue/mixin/title";

  export default {
    name: "pick-categories-component",
    components: {PickCategoriesListComponent},
    data: () => ({}),
    mixins: [titleMixin],
    created(){
      this.appTitle = 'Categories'
    }
  };
</script>
<style lang="sass" scoped>
  @import "../../assets/style/color.sass"
  .add-new-category
    background: $bg-color
</style>