<template lang="pug">
  md-list.md-triple-line.card-expansion.md-layout.md-alignment-center-center
    pick-category-list-item-component(v-for='item in items', :item='item', :key='item.id')
    md-list-item.md-layout-item.md-small-size-100(md-with-hover='', @click='')
      .md-list-item-text.txt-center
        span Load more ...
        span Matched vendors 100
        p Total amount of vendors 1000
</template>
<script>
  import PickCategoryListItemComponent from "./CategoryListItem.vue";

  export default {
    name: "pick-category-list-component",
    data: () => ({
      items: [
        {
          id: 1,
          imageLink: 'https://picsum.photos/200/300111111/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 2,
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 3,
          imageLink: 'https://picsum.photos/200/300/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 4,
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 5,
          imageLink: 'https://picsum.photos/200/300/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 6,
          imageLink: 'https://picsum.photos/200/300/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 7,
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 8,
          imageLink: 'https://picsum.photos/200/300/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 9,
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
        {
          id: 10,
          imageLink: 'https://picsum.photos/200/300/?random',
          name: 'Some Name',
          description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim volutpat finibus. Duis rhoncus vehicula venenatis. Nullam at vestibulum nulla. Fusce orci eros, mollis sed ultrices eu, blandit tempor est. Fusce sit amet pellentesque tellus. Suspendisse varius eget lorem ut pharetra. Praesent posuere dui vitae dui pretium interdum. Praesent at odio egestas, pulvinar orci eget, commodo augue. Pellentesque feugiat molestie arcu ut vulputate. Fusce eget molestie libero, sed condimentum purus. Suspendisse felis lacus, commodo nec lacus eleifend, ultricies tempus ex. Integer interdum sapien id arcu rhoncus scelerisque volutpat sed est. Aenean nec elementum risus.',
        },
      ]
    }),
    components: {PickCategoryListItemComponent},

  };
</script>
<style lang="sass" scoped>
  .txt-center
    text-align: center
</style>
