<template lang="pug">
  div.md-layout.md-alignment-center-center
    md-card.md-layout-item.md-size-50.md-small-size-100.md-elevation-0
      md-card-content
        | {{item.description}}
      md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.go-to-list(@click='$router.go(-1)')
        md-icon reply
      md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.edit-vendor(:to='editLink')
        md-icon edit
</template>

<script>

  export default {
    name: 'vendor',
    computed: {
      item(){
        return {
          id: 1,
          name: 'Some Name',
          description: 'Description',
          imageLink: 'https://picsum.photos/200/300/?random'
        }
      },
      editLink(){
        return `/vendors/${this.item.id}/edit`
      }
    }
  };
</script>
<style lang="sass">
  @import "../../assets/style/color.sass"
  .edit-vendor
    margin-bottom: 74px
    background: $pick-color-1
    color: $bg-color
</style>