<template lang="pug">
  div.vendor-edit
    form.md-layout.md-alignment-center-center(novalidate='', @submit.prevent='validate')
      md-card.md-layout-item.md-size-50.md-small-size-100.md-elevation-0
        md-card-content
          .md-layout.md-gutter
            .md-layout-item.md-small-size-100
              md-field
                label Icon
                md-file(v-model='form.image' accept='image/*')
          .md-layout.md-gutter
            .md-layout-item.md-small-size-100
              md-field(:class="getValidationClass('name')")
                label(for='vendor-name') Name
                md-input#vendor-name(name='vendor-name', autocomplete='vendor-name', v-model='form.name', :disabled='sending')
                span.md-error(v-if='!$v.form.name.required') The name is required
                span.md-error(v-else-if='!$v.form.name.minlength') Invalid name
          .md-layout.md-gutter
            .md-layout-item.md-small-size-100
              md-field(:class="getValidationClass('description')")
                label(for='vendor-description') Description
                md-textarea#first-name(name='vendor-description', autocomplete='vendor-description', v-model='form.description', :disabled='sending')
                span.md-error(v-if='!$v.form.description.required') The description is required
                span.md-error(v-else-if='!$v.form.description.minlength') Invalid description
      md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.save-vendor(@click='save')
        md-icon check
      md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.go-to-list(@click='$router.go(-1)')
        md-icon reply
</template>

<script>
  import {validationMixin} from "vuelidate";
  import {required, email, minLength, maxLength} from "vuelidate/lib/validators";

  export default {
    name: "vendors-new",
    mixins: [validationMixin],
    data: () => ({
      form: {name: null, description: null, image: null},
      saved: false,
      sending: false,
      lastVendor: null,
      item: null
    }),
    validations: {
      form: {
        name: {required, minLength: minLength(3)},
        description: {required, minLength: minLength(3)}
      }
    },
    methods: {
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName];
        if (field) {
          return {
            "md-invalid": field.$invalid && field.$dirty
          };
        }
      },
      clearForm() {
        this.$v.$reset();
        this.form.name = this.item.name;
        this.form.description = this.item.description;
      },
      save() {
        this.sending = true;
        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.lastVendor = `${this.form.name}`;
          this.saved = true;
          this.sending = false;
          this.clearForm();
          this.$router.push(`/vendors/${this.item.id}`)
        }, 1500);
      },
      validate() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.save();
        }
      }
    },
    created(){
      this.item = {id: 1, name: 'SomeName', description: 'somedescription'};
      this.form.name = this.item.name;
      this.form.description = this.item.description;
    }
  };
</script>

<style lang="sass" scoped>
  @import "../../assets/style/color.sass"
  .vendor-edit
    .md-progress-bar
      position: absolute
      top: 0
      right: 0
      left: 0

    .go-to-list
      background: $bg-color

    .md-snackbar
      background: #000
      color: $bg-color

    .save-vendor
      margin-bottom: 74px
      background: $pick-color-1
      color: $bg-color
</style>