<template lang="pug">
  .md-toolbar-row.md-toolbar-offset.md-layout.md-alignment-center-center.locations-search
    form.md-layout-item.md-size-70.md-small-size-100.md-layout(novalidate='' )
      .md-layout.md-gutter
        .md-layout-item.md-xsmall-size-100
          md-field()
            label(for='name-search') Name
            md-input#name-search()
        .md-layout-item.md-xsmall-size-100
          md-field()
            label(for='vendor-search') Vendor
            md-input#vendor-search()
        .md-layout-item.md-size-100
          md-chips(v-model='tags', md-placeholder='', :md-check-duplicated='true', @md-insert="insertTag")
            label Tags
            template(slot="md-chip", slot-scope="{ chip }" )
              span {{ `${chip}` }}
</template>
<script>
  import randomColor from "../../utils/scripts/materialColor.js";

  export default {
    name: 'pick-locations-search-component',
    data: () => ({
      tags: [],
      colors: {}
    }),
    methods: {
      randomColor,
      insertTag(val){
        let words = val.split(/(?:[\s\t\n]+)+/);
        for (let i in words) words[i] = words[i].toUpperCase();
        let newTags = this.tags.slice(0, this.tags.length - 1);
        newTags = (a => [...new Set(a)])(newTags.concat(words));
        for (let word of words) if (!this.colors[word]) this.colors[word] = this.randomColor(true);
        this.tags = newTags;
      }
    }
  }
</script>
<style lang="sass">
  @import "../../assets/style/color.sass"
  .locations-search
    .md-chip
      .md-ripple
        padding: 0 5px
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12)
      height: 22px
      line-height: 22px
      background: $pick-color-1
      color: $bg-color
      padding: 0 5px

</style>


