<template lang="pug">
  .md-toolbar-row.md-toolbar-offset.md-layout.md-alignment-center-center.reviews-search
    form.md-layout-item.md-size-70.md-small-size-100.md-layout(novalidate='' )
      .md-layout.md-gutter
        .md-layout-item.md-xsmall-size-100
          md-field()
            label(for='location-search') Location
            md-input#location-search()
        .md-layout-item.md-xsmall-size-100

          md-field()
            label(for='menu-search') Menu
            md-input#menu-search()
          md-chip(md-deletable='') Static
          md-chip Static
          md-chip Static
          md-chip Static
          md-chip Static
          md-chip Static
</template>
<script>
  import randomColor from "../../utils/scripts/materialColor.js";

  export default {
    name: 'pick-locations-search-component',
    data: () => ({
      tags: [],
      colors: {}
    }),
    methods: {
      randomColor,
      insertTag(val){
        let words = val.split(/(?:[\s\t\n]+)+/);
        for (let i in words) words[i] = words[i].toUpperCase();
        let newTags = this.tags.slice(0, this.tags.length - 1);
        newTags = (a => [...new Set(a)])(newTags.concat(words));
        for (let word of words) if (!this.colors[word]) this.colors[word] = this.randomColor(true);
        this.tags = newTags;
      }
    }
  }
</script>
<style lang="sass">
  .reviews-search
    .md-chip
      .md-ripple
        padding: 0 5px

      height: 22px
      line-height: 22px

</style>


