<template lang="pug">
  .md-toolbar-row.md-toolbar-offset.md-layout.md-alignment-center-center
    form.md-layout-item.md-size-70.md-small-size-100.md-layout(novalidate='' )
      div.md-layout-item
        md-field(md-clearable='')
          label Initial Value
          md-input()
</template>
<script>
  export default {
    name: 'pick-vendors-search-component'
  }
</script>

