<template lang="pug">
  md-app(md-mode="fixed")
    md-app-toolbar.md-primary(md-elevation='0')
      .md-toolbar-row
        md-button.md-icon-button(@click='toggle', v-if='!menuVisible')
          md-icon menu
        span.md-title {{ title }}
      router-view(name='toolbar')
    md-app-drawer.md-scrollbar(
    :md-active='menuVisible',
    md-persistent='mini',
    @click='toggle',
    :class="{'md-elevation-2':menuVisible}"
    )
      md-toolbar.md-transparent(md-elevation='0')
        h2 Pick App
        .md-toolbar-section-end
          md-button.md-icon-button.md-dense(@click='toggle')
            md-icon keyboard_arrow_left

      pick-sidebar-component(@toggle='toggle', :menuVisible='menuVisible')
    md-app-content
      router-view

</template>
<script>
  import PickSidebarComponent from './sidebar/Sidebar.vue'
  import PickVendorsComponent from './vendor/Vendors.vue'
  import PickVendorsSearchComponent from './toolbars/VendorsSearch.vue'
  import {control} from 'leaflet';
  import {EventBus, TITLE} from '../utils/scripts/eventBus'
  export default {
    name: 'pick-main-component',
    components: {PickSidebarComponent, PickVendorsComponent, PickVendorsSearchComponent},
    data: () => ({
      menuVisible: false,
      title: ''
    }),
    methods: {
      toggle(value){
        this.menuVisible = value === false || value === true ? value : !this.menuVisible;
      }
    },
    created(){
      EventBus.$on(TITLE, (title)=>{
        this.title = title;
        document.title = `PickApp | ${title}`;
      })
    }
  }
</script>

<style lang="sass">
  @import "~vue-material/src/components/MdLayout/mixins"
  @import "../assets/style/scrollbar.sass"
  @import "../assets/style/color.sass"
  body
    overflow: hidden
    background: $bg-color
    .pick-link
      color: $pick-color-1
      // text-decoration: underline
  .md-app
    max-height: 100vh
    height: 100vh
    width: 100%
    border: 1px solid rgba(#000, 0.12)
    overflow: hidden
    @include scrollbar("md-scrollbar")
  .md-drawer-active
    .md-toolbar-row
      &.md-toolbar-offset
        margin-left: 0
  .md-toolbar-row
    &.md-toolbar-offset
      +md-layout-small
        margin-left: 64px

  .md-drawer
    width: 320px
    max-width: calc(100vw - 125px)
    background: $bg-color

    &.md-persistent-mini.md-left
      border: none
      &.md-active
        border-right: 1px solid #c0c0c0 !important
    &:not(.md-active)
      height: calc(100% - 64px)
    &.md-persistent-mini
      +md-layout-small
        position: absolute
      &.md-active
        +md-layout-small
          position: absolute

  .md-app-content
    width: calc(100% - 5px)
    border-right: none !important

  .md-app-container
    .md-app-scroller
      padding-left: 70px
      position: relative
      overflow: auto
      max-height: 100%

  .md-field
    &:before
      background: #000
    &:after
      background: #c0c0c0
    &.md-invalid
      &:not(.md-has-textarea)
        &:before
          background: #ff1744
        &:after
          background: #ff1744
  a
    color: #000000

  .md-menu-content-container
    background: $bg-color

  .md-field
    &.md-invalid
      .md-error, label
        color: #ff1744
      &:not(.md-autogrow):after
        border-color: #ff1744 !important
      &:not(.md-autogrow):before
        border-color: #ff1744 !important
    &.md-has-textarea
      &:not(.md-autogrow):after
        border-color: #c0c0c0
      &:not(.md-autogrow):before
        border-color: #000

</style>
