<template lang="pug">
  md-list
    pick-sidebar-item-component(@show-sidebar='toggleSidebar', v-for='item in items', :key='item.key', :item='item', :menuVisible='menuVisible')
</template>

<script>
  import PickSidebarItemComponent from './SidebarItem.vue'
  import Item from './Item.js'
  export default {
    name: 'pick-sidebar-component',
    props: ['menuVisible'],
    components: {PickSidebarItemComponent},
    data: () => ({
      items: [
        new Item('dashboard', 'Dashboard', '/dashboard', 'home'),
        new Item('orders', 'Orders', '/orders', 'notification_important'),
        new Item('locations', 'Locations', '/locations', 'location_on'),
        new Item('kitchen', 'Kitchen', '/kitchen', 'restaurant_menu', [
          new Item('menu', 'Menu', '/menu'),
          new Item('options', 'Options', '/options'),
          new Item('categories', 'Categories', '/categories'),
        ]),
        new Item('customers', 'Customers', '/customers', 'group'),
        new Item('reviews', 'Reviews', '/reviews', 'visibility'),
        new Item('staff', 'Staff', '/staff', 'assignment_ind'),
        new Item('coupons', 'Coupons', '/coupons', 'turned_in'),
        new Item('settings', 'Settings', '/settings', 'settings'),
        new Item('vendors', 'Vendors', '/vendors', 'nature_people'),
        new Item('boxes', 'Boxes', '/boxes', 'widgets'),
      ]
    }),
    methods: {
      toggleSidebar(val){
        this.$emit("toggle", val)
      }
    }
  }
</script>

