<template lang="pug">
  md-list-item.sidebar-item(md-expand='', @click='showSidebar', :md-expanded.sync='expanded' v-if='expandable', :class='{"expand-active":isActive}')
    md-icon {{item.icon}}
    span.md-list-item-text {{item.name}}
    md-list(slot='md-expand')
      md-list-item.sidebar-item.md-inset(v-for='subItem in item.nested', :key='subItem.key', :to='subItem.path') {{subItem.name}}
  md-list-item.sidebar-item(v-else @click='showSidebar', :to='item.path')
    md-icon {{item.icon}}
    span.md-list-item-text {{item.name}}
</template>

<script>
  export default {
    name: 'pick-sidebar-item-component',
    props: ['item', 'menuVisible'],
    data: () => ({
      expanded: false
    }),
    computed: {
      expandable(){
        return this.item.nested && this.item.nested.length > 0;
      },
      isActive(){
        let path = this.$route.path;
        for (var nestedItem of this.item.nested) {
          if (path.startsWith(nestedItem.path)) {
            return true;
          }
        }
        return false;
      }
    },
    watch: {
      menuVisible(to){
        if (!to) this.expanded = false;
      }
    },
    methods: {
      showSidebar(){
        this.$emit("show-sidebar", true)
      }
    }
  }
</script>
<style lang="sass">
@import "../../assets/style/color.sass"
.sidebar-item
  .md-list-item-content:hover
    background: #f0f0f0
  .router-link-active, .expand-active
    color: $pick-color-1
</style>
