<template lang="pug">
  div.md-layout.md-alignment-center-center.location-new
    md-tabs.md-layout-item.md-size-100.md-alignment-center-center(@md-changed='validateForm', md-alignment="fixed")
      template(slot='md-tab', slot-scope='{ tab }')
        | {{ tab.label }}
        md-badge.md-primary.md-square.badge-validation-error(v-if='tab.data.error', md-position='bottom', md-content='!')
      md-tab#general(md-label='General', :md-template-data="{ error: generalError }")
        general-component(ref="general")
      md-tab#contactsAndLocation(md-label='Contacts & Location', :md-template-data="{ error: contactsAndLocationError }")
        contacts-and-location-component(ref="contactsAndLocation")
      md-tab#time(md-label='Time', :md-template-data="{ error: timeError }")
        time-component(ref="time")

    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.go-to-list(@click='$router.go(-1)')
      md-icon reply
    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.save-location(@click='save')
      md-icon check

</template>

<script>
  import {validationMixin} from "vuelidate";

  import GeneralComponent from './forms/LocationsFormGeneral.vue'
  import ContactsAndLocationComponent from './forms/LocationsFormContactsAndLocation.vue'
  import TimeComponent from './forms/LocationsFormTime.vue'
  import titleMixin from '../../utils/vue/mixin/title'
  export default {
    name: "locations-new",
    mixins: [titleMixin],
    components: {GeneralComponent, ContactsAndLocationComponent, TimeComponent},
    data: () => ({
      active: 'general',
      steps: ['general', 'contactsAndLocation', 'time'],
      generalError: false,
      contactsAndLocationError: false,
      timeError: false,
      otherError: false,
    }),
    methods: {
      save(){
        console.log('saved');
        this.$refs[from].validate()
      },
      validateForm(id){
        let prev = this.active;
        this.active = id;
        this[prev + 'Error'] = !this.$refs[prev].validate();
        this[id + 'Error'] = false;
      },
      clear(){
        for (let step of this.steps) {
          this[step + 'Error'] = null;
          this.$refs[step].clear();
        }
      }
    },
    created(){
      this.appTitle = `New location`
    }
  };
</script>

<style lang="sass">
  @import "../../assets/style/color.sass"
  .location-new
    .md-button.md-active
      color: $pick-color-1
    .badge-validation-error
      color: #ff1744
      font-size: 14px
    .save-location
      margin-bottom: 74px
      background: $pick-color-1
      color: $bg-color
</style>