<template lang="pug">
  md-list-item.md-layout-item.md-elevation-5.md-small-size-100.md-size-70.pick-location-item(md-with-hover="", :to="link")
    md-avatar(:style='{background:randomColor(true)}')
      img(:src='item.imageLink', v-if='item.imageLink', alt='People', @error="$event.target.style.display='none';")
    .md-list-item-text
      span {{item.name}}
      span {{item.vendor.name}}
      p {{address}}
    md-chip.real-tag.md-elevation-1(v-for="(tag, i) in primaryTags", :key="i")  {{tag.name|upper}}
    md-chip(v-if="tagsLength > visibleLength") and {{tagsLength - visibleLength}} more...

</template>
<script>
  import randomColor from "../../utils/scripts/materialColor.js";
  export default {
    name: "pick-location-list-item-component",
    props: ["item"],
    data: () => ({
      visibleLength: 3
    }),
    methods: {
      onImageLoadError(event) {
        event.target.src = "/src/assets/noimage.png";
      },
      randomColor
    },
    computed: {
      link(){
        return `/locations/${this.item.id}`
      },
      address(){
        let text = this.item.country.name;
        if (this.item.state) text += ', ' + this.item.state;
        if (this.item.city) text += ', ' + this.item.city;
        return text + ', ' + this.item.address1;
      },
      primaryTags() {
        return !this.item.tags
          ? []
          : this.item.tags.length > this.visibleLength
            ? this.item.tags
              .sort((t1, t2) => t1.priority - t2.priority)
              .slice(0, this.visibleLength)
            : this.item.tags;
      },
      tagsLength() {
        return !this.item.tags ? 0 : this.item.tags.length;
      }
    }
  };
</script>
<style lang="sass">
  @import "../../assets/style/color.sass"
  .pick-location-item
    background: $bg-lightest
    border-radius: 22px
    .md-list-item-container
      .md-list-item-content
        &.md-ripple
          padding: 0 0
    margin-bottom: 5px
    margin-top: 5px

    .md-avatar
      margin: 0
      width: 88px
      height: 88px
      background: rgb(255, 214, 0)
      border-radius: 22px 0 0 22px
      img
        width: 100%
        height: auto
    .md-badge:last-child
      color: #000000
    .md-chip
      &.real-tag
        height: 22px
        line-height: 22px
        background: $pick-color-1
        color: $bg-color
        padding: 0 5px

</style>
