<template lang="pug">
  router-view(v-if='loaded')
</template>

<script>
  import titleMixin from '../../utils/vue/mixin/title'
  export default {
    name: 'location',
    props: ['id'],
    mixins: [titleMixin],
    data: () => ({
      loaded: true
    }),
    computed: {
      location: () => ({name: 'Some Location '})
    },
    created(){
      this.appTitle = `${this.location.name}`
    }
  };
</script>
