<template lang="pug">
  div
    pick-locations-list-component
    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.add-new-location(to='/locations/new')
      md-icon add
</template>
<script>
  import PickLocationsListComponent from "./LocationsList.vue";
  import titleMixin from '../../utils/vue/mixin/title'

  export default {
    name: "pick-locations-component",
    components: {PickLocationsListComponent},
    mixins: [titleMixin],
    data: () => ({}),
    created(){
      this.appTitle = `Locations`
    }
  };
</script>
<style lang="sass" scoped>
  @import "../../assets/style/color.sass"
  .add-new-location
    background: $bg-color
</style>