<template lang="pug">

  div.md-layout.md-alignment-center-center.location-info-view


    md-tabs.md-layout-item.md-size-70.md-alignment-center-center( md-alignment="fixed")
      md-tab#general(md-label='General')
        .md-layout
          .md-layout-item.md-size-100.md-small-size-100.md-alignment-top-center.md-layout.location-icon
            md-avatar.md-elevation-5
              img(:src='locationItem.imageLink', alt='locationItem.name')
          md-table.md-layout-item.md-size-100
            md-table-row
              md-table-cell Vendor:
              md-table-cell
                router-link.pick-link(:to='"/vendors/"+locationItem.vendor.id') {{locationItem.vendor.name}}
            md-table-row
              md-table-cell Status:
              md-table-cell {{locationItem.status?'Enabled':'Disabled'}}
            md-table-row
              md-table-cell Rating:
              md-table-cell {{locationItem.rating}}
            md-table-row
              md-table-cell Tags:
              md-table-cell
                md-chip.real-tag.md-elevation-1(v-for="(tag, i) in locationItem.tags", :key="i")  {{tag.name|upper}}
            md-table-row
              md-table-cell Description:
              md-table-cell {{locationItem.description}}


      md-tab#contactsAndLocation(md-label='Contacts & Location')
        .md-layout
          md-table.md-layout-item.md-size-100
            md-table-row
              md-table-cell Email:
              md-table-cell
                a.pick-link(:href="'mailto:' + locationItem.email") {{locationItem.email}}
            md-table-row
              md-table-cell Phone:
              md-table-cell {{locationItem.phoneNumber}}
            md-table-row
              md-table-cell City:
              md-table-cell {{locationItem.city}}
            md-table-row
              md-table-cell State:
              md-table-cell {{locationItem.state}}
            md-table-row
              md-table-cell Country:
              md-table-cell {{locationItem.country.name}}
            md-table-row
              md-table-cell First address:
              md-table-cell {{locationItem.address1}}
            md-table-row
              md-table-cell Second address:
              md-table-cell {{locationItem.address2}}

          .md-layout-item.md-size-100.md-layout.map-view
            l-map.map-view-draw.md-layout-item(:zoom='zoom', :center='center')
              l-tile-layer(:url='url')
              l-marker(:lat-lng='[locationItem.lat, locationItem.lon]')
                l-popup(:content="locationItem.lat+' '+locationItem.lon", :options='{ autoClose: false, closeOnClick: false }')

      md-tab#time(md-label='Time')
        .md-layout
          md-table.md-layout-item.md-size-100
            md-table-row
              md-table-cell Last order time:
              md-table-cell {{locationItem.lastOrderTime}}
            md-table-row
              md-table-cell Collection time:
              md-table-cell {{locationItem.collectionTime}}
            md-table-row
              md-table-cell Timezone:
              md-table-cell {{locationItem.timezone}}


    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.go-to-list(@click='$router.go(-1)')
      md-icon reply
    md-button.md-layout-item.md-primary.md-fab.md-fixed.md-fab-bottom-right.edit-location(:to='editLink')
      md-icon edit
</template>

<script>
  import {LMap, LTileLayer, LMarker, LPopup} from "vue2-leaflet";

  export default {
    name: 'location',
    components: {
      LMap,
      LTileLayer,
      LMarker,
      LPopup
    },
    data: () => ({
      zoom: 10,
      url: "http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png",
      icon: L.icon({iconUrl: "/point.png", iconSize: [20, 20]}),
      center: L.latLng(51.509865, -0.118092),
      locationItem: {
        "id": 1,
        "name": "Some veeeeeeeeryyyy looong nnnaaaammmmeeee",
        "email": "asd@google.com",
        "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend ligula et hendrerit sagittis. Praesent semper nibh justo, in cursus elit lobortis at. Integer pellentesque risus lectus, vitae mollis metus rutrum in. Duis luctus tincidunt felis vel accumsan. Cras condimentum auctor lorem, sed tempor erat imperdiet vel. Donec vel semper tortor, at egestas magna. Integer at pellentesque urna. Donec a ante vitae felis facilisis faucibus eget eu enim. Maecenas ac accumsan turpis. Nulla sit amet urna id sem vulputate faucibus. Ut convallis ante ac est pretium tincidunt in ut magna. Nam id tristique tellus. Nam nec est quis orci efficitur lobortis quis eget augue. Quisque dictum, leo at rutrum blandit, tortor dolor viverra quam, ut commodo orci dui eu turpis. Curabitur faucibus, leo vel dignissim vehicula, augue nibh cursus odio, vel blandit lectus metus ut risus. Pellentesque maximus pellentesque fringilla. Vestibulum non urna at magna ornare scelerisque in sit amet odio. Sed vestibulum eget ligula ac cursus. Nullam viverra dapibus augue, in ultricies nisl sagittis eget. Suspendisse potenti. Duis nisl est, cursus non luctus ut, ullamcorper a enim. Pellentesque sed ornare ligula. Sed ut lorem fermentum, rutrum risus et, scelerisque lectus. Donec ipsum nisl, semper finibus felis et, consequat sollicitudin orci. Praesent a nulla ac metus aliquet viverra. Proin sodales justo tristique tortor ultricies, in fringilla magna fermentum. Quisque nec nisi ut velit congue ornare vitae ut dolor. Nulla at nulla elit. Aliquam et imperdiet lectus.",
        "address1": "some address1",
        "address2": "some address2",
        "city": "city",
        "state": "state",
        "postcode": "postcode",
        "country": {
          "id": 123,
          "name": "Belarus",
          "isoCode2": "BY",
          "isoCode3": "BE",
          "format": "dd/mm/yyyy",
          "status": true,
          "flag": true,
          "currencyCode": "USD"
        },
        "phoneNumber": "+375445497030",
        "lat": 30.55,
        "lon": 30.55,
        "lastOrderTime": "1998-07-16T19:20+01:00",
        "status": true,
        "collectionTime": "00:00",
        "imageLink": "https://picsum.photos/500",
        "vendor": {
          "id": 123,
          "name": "Vendor",
          "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae fringilla felis. Maecenas rhoncus facilisis ultricies. In ac enim ex. Donec imperdiet urna ut nulla placerat molestie. Sed vitae odio et turpis bibendum suscipit. Ut rutrum bibendum libero, sed sollicitudin arcu mollis non. Phasellus rutrum ultrices enim at rutrum. Vivamus bibendum tristique aliquet. Aliquam erat volutpat. Vivamus augue nisi, mollis id velit sed, rhoncus efficitur mauris. Mauris hendrerit commodo justo, non tincidunt dolor dapibus quis. In hac habitasse platea dictumst. Praesent maximus urna a gravida maximus.,,",
          "imageLink": "https://picsum.photos/200"
        },
        "timezone": "+3",
        "tags": [{"id": 1, "name": "tag1", "priority": 1}, {"id": 2, "name": "asd", "priority": 1}, {
          "id": 3,
          "name": "qqwee",
          "priority": 2
        }, {"id": 4, "name": "qweqwe", "priority": 1}, {"id": 5, "name": "tag1", "priority": 1}, {
          "id": 6,
          "name": "wewe",
          "priority": 3
        }, {"id": 7, "name": "qwewe", "priority": 1}, {"id": 1, "name": "qweweqweqweq", "priority": 1}],
        "rating": 3
      }
    }),
    computed: {
      item(){
        return {
          id: 1,
          name: 'Some Name',
          description: 'Description',
          imageLink: 'https://picsum.photos/200/300/?random'
        }
      },
      editLink(){
        return `/locations/${this.locationItem.id}/edit`
      },
      locationLatLon(){
        return L.latLng(this.locationItem.lat, this.locationItem.lon);
      }
    },
    created(){
      document.title = `PickApp | ${this.locationItem.name}`;
    },
    mounted() {
      this.$nextTick(function () {
        this.center = L.latLng(this.locationItem.lat, this.locationItem.lon)
      })
    }
  };
</script>
<style lang="sass">
  @import "../../assets/style/color.sass"
  .location-info-view
    tbody
      .md-table-row
        &:first-child
          td
            border: none
      .md-table-row
        td
          border-color: #c9c9c9
    .map-view
      .map-view-draw
        width: 100%
        height: 300px
    .location-icon
      margin-bottom: 10px
      .md-avatar
        min-width: 132px
        min-height: 132px
    .md-chip
      &.real-tag
        height: 22px
        line-height: 22px
        background: $pick-color-1
        color: $bg-color
        padding: 0 5px
    .edit-location
      margin-bottom: 74px
      background: $pick-color-1
      color: $bg-color
    .md-button.md-active
      color: $pick-color-1
    .leaflet-marker-icon
      background-image: url(../../assets/images/point.png)
      width: 20px
      height: 20px
      transform: translate3d(100px, 100px, 0px)
      background-size: cover

</style>