<template lang="pug">
  div.md-layout.md-alignment-center-center
    form.md-size-50.md-small-size-100.md-elevation-0.md-layout-item.md-alignment-center-center(novalidate='', @submit.prevent='validate')
      .md-layout.md-gutter.md-size-100
        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('email')")
            label(for='vendor-email') Email
            md-input#vendor-email(name='vendor-email', autocomplete='vendor-email', v-model='form.email', :disabled='sending')
            span.md-error(v-if='!$v.form.email.required') The email is required
            span.md-error(v-else-if='!$v.form.email.minlength') Invalid email
        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('phone')")
            label(for='vendor-phone') Phone
            md-input#vendor-phone(name='vendor-phone', autocomplete='vendor-phone', v-model='form.phone', :disabled='sending')
            span.md-error(v-if='!$v.form.phone.required') The phone is required
            span.md-error(v-else-if='!$v.form.phone.minlength') Invalid phone
        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('address1')")
            label(for='vendor-address1') First address 
            md-input#vendor-address1(name='vendor-address1', autocomplete='vendor-address1', v-model='form.address1', :disabled='sending')
            span.md-error(v-if='!$v.form.address1.required') The first address is required
            span.md-error(v-else-if='!$v.form.address1.minlength') Invalid first address

        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('address2')")
            label(for='vendor-address2') Second address
            md-input#vendor-address2(name='vendor-address2', autocomplete='vendor-address2', v-model='form.address2', :disabled='sending')
            span.md-error(v-if='!$v.form.address2.required') The second address is required
            span.md-error(v-else-if='!$v.form.address2.minlength') Invalid second address

        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('city')")
            label(for='vendor-city') City
            md-input#vendor-city(name='vendor-city', autocomplete='vendor-city', v-model='form.city', :disabled='sending')
            span.md-error(v-if='!$v.form.city.required') The city is required
            span.md-error(v-else-if='!$v.form.city.minlength') Invalid city

        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('state')")
            label(for='vendor-state') State
            md-input#vendor-state(name='vendor-state', autocomplete='vendor-state', v-model='form.state', :disabled='sending')
            span.md-error(v-if='!$v.form.state.required') The state is required
            span.md-error(v-else-if='!$v.form.state.minlength') Invalid state


        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('postcode')")
            label(for='vendor-postcode') Postcode
            md-input#vendor-postcode(name='vendor-postcode', autocomplete='vendor-postcode', v-model='form.postcode', :disabled='sending')
            span.md-error(v-if='!$v.form.postcode.required') The postcode is required
            span.md-error(v-else-if='!$v.form.postcode.minlength') Invalid postcode

        .md-layout-item.md-size-100
          md-field(:class="getValidationClass('countryId')")
            label(for='vendor-countryId') countryId
            md-input#vendor-countryId(name='vendor-countryId', autocomplete='vendor-countryId', v-model='form.countryId', :disabled='sending')
            span.md-error(v-if='!$v.form.countryId.required') The countryId___ is required
            span.md-error(v-else-if='!$v.form.countryId.minlength') Invalid countryId___

        .md-layout-item.md-size-50.md-small-size-100.md-size-50
          md-field(:class="getValidationClass('lat')")
            label(for='vendor-lat') Lat
            md-input#vendor-lat(name='vendor-lat', autocomplete='vendor-lat', v-model='form.lat', :disabled='sending')
            span.md-error(v-if='!$v.form.lat.required') The lat is required
            span.md-error(v-else-if='!$v.form.lat.minlength') Invalid lat

        .md-layout-item.md-size-50.md-small-size-100.md-size-50
          md-field(:class="getValidationClass('lon')")
            label(for='vendor-lon') Lon
            md-input#vendor-lon(name='vendor-lon', autocomplete='vendor-lon', v-model='form.lon', :disabled='sending')
            span.md-error(v-if='!$v.form.lon.required') The lon is required
            span.md-error(v-else-if='!$v.form.lon.minlength') Invalid lon

</template>
<script>
  //email, phoneNumber, address1, address2, city, state, postcode, countryId, lat, lon
  import {validationMixin} from "vuelidate";
  import {
    required,
    email,
    minLength,
    maxLength
  } from "vuelidate/lib/validators";

  export default {
    name: "locations-form-contacts",
    mixins: [validationMixin],
    data: () => ({
      form: {
        email: null,
        phone: null,
        address1: null,
        address2: null,
        city: null,
        state: null,
        postcode: null,
        countryId: null,
        lat: null,
        lon: null
      },
      saved: false,
      sending: false,
      lastVendor: null,
      item: null,
      vendors: [],
      searchTerm: "",
      vendorsStore: []
    }),
    validations: {
      form: {
        email: {required, minLength: minLength(3)},
        phone: {required, minLength: minLength(3)},
        address1: {required, minLength: minLength(3)},
        address2: {required, minLength: minLength(3)},
        city: {required, minLength: minLength(3)},
        state: {required, minLength: minLength(3)},
        postcode: {required, minLength: minLength(3)},
        countryId: {required, minLength: minLength(3)},
        lon: {required, minLength: minLength(3)},
        lat: {required, minLength: minLength(3)}
      }
    },
    methods: {
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName];
        if (field) {
          return {
            "md-invalid": field.$invalid && field.$dirty
          };
        }
      },
      clear() {
        this.$v.$reset();
        this.form.name = null;
        this.form.status = false;
        this.form.vendor = null;
      },
      save() {
        this.sending = true;
        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.lastVendor = `${this.form.name}`;
          this.saved = true;
          this.sending = false;
          this.clear();
          this.$router.push(`/vendors/${this.item.id}`);
        }, 1500);
      },
      validate() {
        this.$v.$touch();
        return !this.$v.$invalid;
      }
    },
    computed: {
      vendorsNames() {
        return this.vendors.map(({name}) => name);
      }
    },
    created() {
    }
  };
</script>
<style lang="sass">
  .md-switch
    &.md-theme-default
      .md-switch-container
        background-color: rgba(220, 220, 220, 0.44)
      .md-switch-thumb
        background-color: #DCDCDC
      &.md-checked
        .md-switch-container
          background-color: rgba(100, 221, 23, 0.44)
        .md-switch-thumb
          background-color: #64DD17
</style>