<template lang="pug">
  div.md-layout.md-alignment-center-center
    form.md-size-50.md-small-size-100.md-elevation-0.md-layout-item.md-alignment-center-center(novalidate='', @submit.prevent='validate')
      .md-layout.md-gutter.md-size-100
        .md-layout-item.md-small-size-100
          md-field(:class="getValidationClass('lastOrderTime')")
            label(for="lastOrderTime") Last order time
            md-input#last-order-time(name='last-order-time', autocomplete='last-order-time', v-model='form.lastOrderTime')
            span.md-error(v-if='!$v.form.lastOrderTime.required') The last order time is required
        .md-layout-item.md-small-size-100
          md-field(:class="getValidationClass('lastOrderTime')")
            label(for="collectionTime") Collection time
            md-input#last-order-time(name='collection-time', autocomplete='collection-time', v-model='form.collectionTime')
            span.md-error(v-if='!$v.form.collectionTime.required') The collection time is required

        .md-layout-item.md-layout.md-size-100.md-gutter
          md-field(:class="getValidationClass('timezone')")
            label(for="timezone") Timezone GMT
            md-select#timezone.md-layout-item(v-model="form.timezone", name="timezone")
              md-option(timezoneid='1', gmtadjustment='GMT-12:00', usedaylighttime='0', value='-12') -12H International Date Line West
              md-option(timezoneid='2', gmtadjustment='GMT-11:00', usedaylighttime='0', value='-11') -11H Midway Island, Samoa
              md-option(timezoneid='3', gmtadjustment='GMT-10:00', usedaylighttime='0', value='-10') -10H Hawaii
              md-option(timezoneid='4', gmtadjustment='GMT-09:00', usedaylighttime='1', value='-9') -09H Alaska
              md-option(timezoneid='5', gmtadjustment='GMT-08:00', usedaylighttime='1', value='-8') -08H Pacific Time (US & Canada)
              md-option(timezoneid='6', gmtadjustment='GMT-08:00', usedaylighttime='1', value='-8') -08H Tijuana, Baja California
              md-option(timezoneid='7', gmtadjustment='GMT-07:00', usedaylighttime='0', value='-7') -07H Arizona
              md-option(timezoneid='8', gmtadjustment='GMT-07:00', usedaylighttime='1', value='-7') -07H Chihuahua, La Paz, Mazatlan
              md-option(timezoneid='9', gmtadjustment='GMT-07:00', usedaylighttime='1', value='-7') -07H Mountain Time (US & Canada)
              md-option(timezoneid='10', gmtadjustment='GMT-06:00', usedaylighttime='0', value='-6') -06H Central America
              md-option(timezoneid='11', gmtadjustment='GMT-06:00', usedaylighttime='1', value='-6') -06H Central Time (US & Canada)
              md-option(timezoneid='12', gmtadjustment='GMT-06:00', usedaylighttime='1', value='-6') -06H Guadalajara, Mexico City, Monterrey
              md-option(timezoneid='13', gmtadjustment='GMT-06:00', usedaylighttime='0', value='-6') -06H Saskatchewan
              md-option(timezoneid='14', gmtadjustment='GMT-05:00', usedaylighttime='0', value='-5') -05H Bogota, Lima, Quito, Rio Branco
              md-option(timezoneid='15', gmtadjustment='GMT-05:00', usedaylighttime='1', value='-5') -05H Eastern Time (US & Canada)
              md-option(timezoneid='16', gmtadjustment='GMT-05:00', usedaylighttime='1', value='-5') -05H Indiana (East)
              md-option(timezoneid='17', gmtadjustment='GMT-04:00', usedaylighttime='1', value='-4') -04H Atlantic Time (Canada)
              md-option(timezoneid='18', gmtadjustment='GMT-04:00', usedaylighttime='0', value='-4') -04H Caracas, La Paz
              md-option(timezoneid='19', gmtadjustment='GMT-04:00', usedaylighttime='0', value='-4') -04H Manaus
              md-option(timezoneid='20', gmtadjustment='GMT-04:00', usedaylighttime='1', value='-4') -04H Santiago
              md-option(timezoneid='21', gmtadjustment='GMT-03:30', usedaylighttime='1', value='-3.5') -03.5H Newfoundland
              md-option(timezoneid='22', gmtadjustment='GMT-03:00', usedaylighttime='1', value='-3') -03H Brasilia
              md-option(timezoneid='23', gmtadjustment='GMT-03:00', usedaylighttime='0', value='-3') -03H Buenos Aires, Georgetown
              md-option(timezoneid='24', gmtadjustment='GMT-03:00', usedaylighttime='1', value='-3') -03H Greenland
              md-option(timezoneid='25', gmtadjustment='GMT-03:00', usedaylighttime='1', value='-3') -03H Montevideo
              md-option(timezoneid='26', gmtadjustment='GMT-02:00', usedaylighttime='1', value='-2') -02H Mid-Atlantic
              md-option(timezoneid='27', gmtadjustment='GMT-01:00', usedaylighttime='0', value='-1') -01H Cape Verde Is.
              md-option(timezoneid='28', gmtadjustment='GMT-01:00', usedaylighttime='1', value='-1') -01H Azores
              md-option(timezoneid='29', gmtadjustment='GMT+00:00', usedaylighttime='0', value='0') +00H Casablanca, Monrovia, Reykjavik
              md-option(timezoneid='30', gmtadjustment='GMT+00:00', usedaylighttime='1', value='0') +00H Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London
              md-option(timezoneid='31', gmtadjustment='GMT+01:00', usedaylighttime='1', value='1') +01H Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna
              md-option(timezoneid='32', gmtadjustment='GMT+01:00', usedaylighttime='1', value='1') +01H Belgrade, Bratislava, Budapest, Ljubljana, Prague
              md-option(timezoneid='33', gmtadjustment='GMT+01:00', usedaylighttime='1', value='1') +01H Brussels, Copenhagen, Madrid, Paris
              md-option(timezoneid='34', gmtadjustment='GMT+01:00', usedaylighttime='1', value='1') +01H Sarajevo, Skopje, Warsaw, Zagreb
              md-option(timezoneid='35', gmtadjustment='GMT+01:00', usedaylighttime='1', value='1') +01H West Central Africa
              md-option(timezoneid='36', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Amman
              md-option(timezoneid='37', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Athens, Bucharest, Istanbul
              md-option(timezoneid='38', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Beirut
              md-option(timezoneid='39', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Cairo
              md-option(timezoneid='40', gmtadjustment='GMT+02:00', usedaylighttime='0', value='2') +02H Harare, Pretoria
              md-option(timezoneid='41', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius
              md-option(timezoneid='42', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Jerusalem
              md-option(timezoneid='43', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Minsk
              md-option(timezoneid='44', gmtadjustment='GMT+02:00', usedaylighttime='1', value='2') +02H Windhoek
              md-option(timezoneid='45', gmtadjustment='GMT+03:00', usedaylighttime='0', value='3') +03H Kuwait, Riyadh, Baghdad
              md-option(timezoneid='46', gmtadjustment='GMT+03:00', usedaylighttime='1', value='3') +03H Moscow, St. Petersburg, Volgograd
              md-option(timezoneid='47', gmtadjustment='GMT+03:00', usedaylighttime='0', value='3') +03H Nairobi
              md-option(timezoneid='48', gmtadjustment='GMT+03:00', usedaylighttime='0', value='3') +03H Tbilisi
              md-option(timezoneid='49', gmtadjustment='GMT+03:30', usedaylighttime='1', value='3.5') +03.5H Tehran
              md-option(timezoneid='50', gmtadjustment='GMT+04:00', usedaylighttime='0', value='4') +04H Abu Dhabi, Muscat
              md-option(timezoneid='51', gmtadjustment='GMT+04:00', usedaylighttime='1', value='4') +04H Baku
              md-option(timezoneid='52', gmtadjustment='GMT+04:00', usedaylighttime='1', value='4') +04H Yerevan
              md-option(timezoneid='53', gmtadjustment='GMT+04:30', usedaylighttime='0', value='4.5') +04.5H Kabul
              md-option(timezoneid='54', gmtadjustment='GMT+05:00', usedaylighttime='1', value='5') +05H Yekaterinburg
              md-option(timezoneid='55', gmtadjustment='GMT+05:00', usedaylighttime='0', value='5') +05H Islamabad, Karachi, Tashkent
              md-option(timezoneid='56', gmtadjustment='GMT+05:30', usedaylighttime='0', value='5.5') +05.5H Sri Jayawardenapura
              md-option(timezoneid='57', gmtadjustment='GMT+05:30', usedaylighttime='0', value='5.5') +05.5H Chennai, Kolkata, Mumbai, New Delhi
              md-option(timezoneid='58', gmtadjustment='GMT+05:45', usedaylighttime='0', value='5.75') +05.75H Kathmandu
              md-option(timezoneid='59', gmtadjustment='GMT+06:00', usedaylighttime='1', value='6') +06H Almaty, Novosibirsk
              md-option(timezoneid='60', gmtadjustment='GMT+06:00', usedaylighttime='0', value='6') +06H Astana, Dhaka
              md-option(timezoneid='61', gmtadjustment='GMT+06:30', usedaylighttime='0', value='6.5') +06.5H Yangon (Rangoon)
              md-option(timezoneid='62', gmtadjustment='GMT+07:00', usedaylighttime='0', value='7') +07H Bangkok, Hanoi, Jakarta
              md-option(timezoneid='63', gmtadjustment='GMT+07:00', usedaylighttime='1', value='7') +07H Krasnoyarsk
              md-option(timezoneid='64', gmtadjustment='GMT+08:00', usedaylighttime='0', value='8') +08H Beijing, Chongqing, Hong Kong, Urumqi
              md-option(timezoneid='65', gmtadjustment='GMT+08:00', usedaylighttime='0', value='8') +08H Kuala Lumpur, Singapore
              md-option(timezoneid='66', gmtadjustment='GMT+08:00', usedaylighttime='0', value='8') +08H Irkutsk, Ulaan Bataar
              md-option(timezoneid='67', gmtadjustment='GMT+08:00', usedaylighttime='0', value='8') +08H Perth
              md-option(timezoneid='68', gmtadjustment='GMT+08:00', usedaylighttime='0', value='8') +08H Taipei
              md-option(timezoneid='69', gmtadjustment='GMT+09:00', usedaylighttime='0', value='9') +09H Osaka, Sapporo, Tokyo
              md-option(timezoneid='70', gmtadjustment='GMT+09:00', usedaylighttime='0', value='9') +09H Seoul
              md-option(timezoneid='71', gmtadjustment='GMT+09:00', usedaylighttime='1', value='9') +09H Yakutsk
              md-option(timezoneid='72', gmtadjustment='GMT+09:30', usedaylighttime='0', value='9.5') +09.5H Adelaide
              md-option(timezoneid='73', gmtadjustment='GMT+09:30', usedaylighttime='0', value='9.5') +09.5H Darwin
              md-option(timezoneid='74', gmtadjustment='GMT+10:00', usedaylighttime='0', value='10') +10H Brisbane
              md-option(timezoneid='75', gmtadjustment='GMT+10:00', usedaylighttime='1', value='10') +10H Canberra, Melbourne, Sydney
              md-option(timezoneid='76', gmtadjustment='GMT+10:00', usedaylighttime='1', value='10') +10H Hobart
              md-option(timezoneid='77', gmtadjustment='GMT+10:00', usedaylighttime='0', value='10') +10H Guam, Port Moresby
              md-option(timezoneid='78', gmtadjustment='GMT+10:00', usedaylighttime='1', value='10') +10H Vladivostok
              md-option(timezoneid='79', gmtadjustment='GMT+11:00', usedaylighttime='1', value='11') +11H Magadan, Solomon Is., New Caledonia
              md-option(timezoneid='80', gmtadjustment='GMT+12:00', usedaylighttime='1', value='12') +12H Auckland, Wellington
              md-option(timezoneid='81', gmtadjustment='GMT+12:00', usedaylighttime='0', value='12') +12H Fiji, Kamchatka, Marshall Is.
              md-option(timezoneid='82', gmtadjustment='GMT+13:00', usedaylighttime='0', value='13') +13H Nuku'alofa
            span.md-error The timezone is required

</template>
<script>
  //collectionTime, timezone, lastOrderTime
  import {validationMixin} from "vuelidate";
  import {required, email, minLength, maxLength} from "vuelidate/lib/validators";

  export default {
    name: 'locations-form-time',
    mixins: [validationMixin],
    data: () => ({
      form: {
        timezone: null,
        lastOrderTime: null,
        collectionTime: null,
      }
    }),
    validations: {
      form: {
        lastOrderTime: {required},
        timezone: {required},
        collectionTime: {required},
      }
    },
    methods: {
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName];
        if (field) {
          return {
            "md-invalid": field.$invalid && field.$dirty
          };
        }
      },
      clear() {
        this.$v.$reset();
        this.form.timezone = null;
        this.form.lastOrderTime = null;
        this.form.collectionTime = null;
      },
      save() {
        this.sending = true;
        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.lastVendor = `${this.form.name}`;
          this.saved = true;
          this.sending = false;
          this.clear();
          this.$router.push(`/vendors/${this.item.id}`)
        }, 1500);
      },
      validate() {
        this.$v.$touch();
        return !this.$v.$invalid;
      },
    }
  }
</script>
<style lang="sass">
  @import "../../../assets/style/scrollbar.sass"

  @include scrollbar("md-scrollbar")
</style>