<template lang="pug">
  div.md-layout.md-alignment-center-center.locations-form-general
    form.md-size-50.md-small-size-100.md-elevation-0.md-layout-item.md-alignment-center-center(novalidate='', @submit.prevent='validate')
      .md-layout.md-gutter.md-size-100

        .md-layout-item.md-size-100
          md-switch(v-model="form.status") {{form.status?'Enabled':'Disabled'}}
        .md-layout-item.md-small-size-100.md-size-100
          md-field
            label Icon
            md-file(v-model='form.image' accept='image/*')
        .md-layout-item.md-small-size-100
          md-field(:class="getValidationClass('name')")
            label(for='vendor-name') Name
            md-input#vendor-name(name='vendor-name', autocomplete='vendor-name', v-model='form.name', :disabled='sending')
            span.md-error(v-if='!$v.form.name.required') The name is required
            span.md-error(v-else-if='!$v.form.name.minlength') Invalid name
        .md-layout-item.md-layout.md-small-size-100.md-size-50.md-gutter
          md-list.md-layout.md-size-100(v-if='form.vendor')
            md-list-item.md-layout-item
              md-avatar
                img(:src='form.vendor.imageLink', alt='People')
              span.md-list-item-text {{form.vendor.name}}
              md-button.md-icon-button.md-list-action(@click="form.vendor=null")
                md-icon.md-primary close
          md-autocomplete(
          v-else="",
          v-model="searchTerm",
          :md-options="vendorsNames",
          @md-changed="askVendors",
          @md-opened="askVendors",
          :md-open-on-focus="false",
          @md-selected="selectVendor",
          :class="getValidationClass('vendor')")
            label Vendor
            template(slot='md-autocomplete-item', slot-scope='{ item }') {{item}}
            template(slot='md-autocomplete-empty', slot-scope='{ term }')
              span(v-if="term.length<=2") Minimal lengnth is 3 characters but now {{term?term.length:0}}: {{term}}
              span(v-else) No vendors were found
                | &nbsp;
                router-link(to="/vendors/new") Create a new one!
            span.md-error(v-if='!$v.form.name.requiredVendor') Vendor should be specified



      .md-layout-item.md-size-100
        md-field(:class="getValidationClass('locationDescription')")
          label(for='location-description') Description
          md-textarea#location-description(name='location-description', autocomplete='location-description', v-model='form.locationDescription', :disabled='sending')
          span.md-error(v-if='!$v.form.locationDescription.required') The description is required
          span.md-error(v-else-if='!$v.form.locationDescription.minlength') Invalid description

      .md-layout-item.md-layout.md-size-100.md-gutter
        md-chips(v-model='form.tags', md-placeholder='', :md-check-duplicated='true', @md-insert="insertTag")
          label Tags
          template(slot="md-chip", slot-scope="{ chip }" )
            span {{ `${chip}` }}
</template>
<script>
  //name, status, vendorId
  import {validationMixin} from "vuelidate";
  import {required, email, minLength, maxLength} from "vuelidate/lib/validators";
  import randomColor from "../../../utils/scripts/materialColor.js";
  export default {
    name: "locations-form-general",
    mixins: [validationMixin],
    data: () => ({
      form: {locationDescription: null, name: null, status: false, vendor: null, tags: []},
      saved: false,
      sending: false,
      lastVendor: null,
      item: null,
      vendors: [],
      searchTerm: '',
      vendorsStore: [],
      colors: {}
    }),
    validations: {
      form: {
        name: {required, minLength: minLength(3)},
        vendor: {
          requiredVendor() {
            return this.form.vendor !== null
          }
        },
        locationDescription: {required, minLength: minLength(3)}
      }
    },
    methods: {
      randomColor,
      askVendors(term){
        if (!term || term.length < 2) {
          this.vendors = [];
          return [];
        }
        this.vendors = new Promise((resolve) => {
          setTimeout(() => {
            if (!term) {
              resolve(this.vendorsStore);
              return;
            }
            resolve(this.vendorsStore.filter((x) => {
              x.name.toLowerCase().includes(term)
            }));

          }, 500)
        });
      },
      selectVendor(vendor){
        this.form.vendor = this.vendorsStore.filter(({name}) => name == vendor)[0];
      },
      getValidationClass(fieldName) {
        const field = this.$v.form[fieldName];
        if (field) {
          return {
            "md-invalid": field.$invalid && field.$dirty
          };
        }
      },
      clear() {
        this.$v.$reset();
        this.form.name = null;
        this.form.status = false;
        this.form.vendor = null;
      },
      save() {
        this.sending = true;
        // Instead of this timeout, here you can call your API
        window.setTimeout(() => {
          this.lastVendor = `${this.form.name}`;
          this.saved = true;
          this.sending = false;
          this.clear();
          this.$router.push(`/vendors/${this.item.id}`)
        }, 1500);
      },
      validate() {
        this.$v.$touch();
        return !this.$v.$invalid;
      },
      insertTag(val){
        let words = val.split(/(?:[\s\t\n]+)+/);
        for (let i in words) words[i] = words[i].toUpperCase();
        let newTags = this.form.tags.slice(0, this.form.tags.length - 1);
        newTags = (a => [...new Set(a)])(newTags.concat(words));
        for (let word of words) if (!this.colors[word]) this.colors[word] = this.randomColor(true);
        this.form.tags = newTags;
      }
    },
    computed: {
      vendorsNames() {
        return this.vendors.map(({name}) => name);
      }
    },
    created(){
      this.vendorsStore = [
        {id: 1, name: 'SomeName 1', description: 'somedescription 1 '},
        {id: 2, name: 'SomeName 2', description: 'somedescription 2 '},
        {id: 3, name: 'SomeName 3', description: 'somedescription 3 '},
        {id: 4, name: 'SomeName 4', description: 'somedescription 4 '}
      ];
    }
  };
</script>
<style lang="sass">
  @import "../../../assets/style/color.sass"
  .locations-form-general

    .md-chip
      height: 22px
      line-height: 22px
      background: $pick-color-1
      color: $bg-color
      padding: 0 5px
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)
    .md-switch
      &.md-theme-default
        .md-switch-container
          background-color: rgba(220, 220, 220, 0.44)
        .md-switch-thumb
          background-color: #DCDCDC
        &.md-checked
          .md-switch-container
            background-color: rgba(100, 221, 23, 0.44)
          .md-switch-thumb
            background-color: #64DD17
    #location-description
      resize: none
</style>